.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: gray;
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
}

.event {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 250px;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;

}

.all-event {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
    
}