<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Data Storage (CVR)</title>
</head>
<body>
    <h1>Welcome to CVR Event Object</h1>
    
    <% for(let i=0;i<users.length;i++) { %>
        <h2>Id : <%= users[i].id %></h2>
        <h2>Name : <%= users[i].name %></h2>
        <h2>Age : <%= users[i].age %></h2>
        <h2>DOB : <%= users[i].dob %></h2>
    <% } %>

</body>
</html>